# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs.
# Read more: https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2
