repos:

  - repo: local
    hooks:
      - id: pyproject-fmt
        name: pyproject-fmt
        entry: uv run pyproject-fmt pyproject.toml
        language: system
        pass_filenames: false

      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        pass_filenames: false

      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        pass_filenames: false

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --exit-non-zero-on-fix
        language: system
        pass_filenames: false